/* .extension-honban-alert-div {
  height: 50px;
  background-color: red;
}

.extension-honban-alert-p {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 32px !important;
  margin: 0;
  padding: 5px;
} */